{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}


        <section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="header1-1" style="background-image: url({% static 'images/banner1.jpg'%});">
            <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left mbr-after-navbar">
                <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);"></div>
                <div class="mbr-box__container mbr-section__container container">
                    <div class="mbr-box mbr-box--stretched">
                        <div class="mbr-box__magnet mbr-box__magnet--center-left">
                            <div class="row">
                                <div class=" col-sm-6">
                                    <div class="mbr-hero animated fadeInUp">
                                        <h1 class="mbr-hero__text">ENCUENTRA TU PRÓXIMO VEHICULO <br>!SIN TENER QUE BUSCAR¡</h1>
                                        <p class="mbr-hero__subtext">Recibe alertas inmediatas de carros publicados para la venta, basados en tus preferencias, marca, modelo, presupuesto...<br></p>
                                    </div>
                                    <div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-danger animated fadeInUp delay" href="#" data-toggle="modal" data-target="#exampleModal">CONSIGUELO AHORA, GRATIS</a> <a class="mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" href="index.html#header3-4">¿CÓMO FUNCIONA?<br></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mbr-arrow mbr-arrow--floating text-center">
                    <div class="mbr-section__container container">
                        <a class="mbr-arrow__link" href="#header3-4"><i class="glyphicon glyphicon-menu-down"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="features1-14" style="background-color: rgb(255, 255, 255);">
            <div class="mbr-section__container mbr-section__container--std-top-padding mbr-section__container--sm-bot-padding mbr-section-title container" style="padding-top: 93px;">
                <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3 class="mbr-header__text">NOS CONECTAMOS CON LAS MEJORES PLATAFORMAS</h3>
                        <h1 class="mbr-header__subtext">y realizamos la búsqueda automáticamente para ti</h1>
                    </div>
                </div>
            </div>
            <div class="mbr-section__container container">
                <div class="mbr-section__row row">
                    <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6">
                        <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">
                            <figure class="mbr-figure"><img src="{% static 'images/mercadolibre-160x160-76.jpg'%}" class="mbr-figure__img"></figure>
                        </div>
                    </div>
                    <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6">
                        <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">
                            <figure class="mbr-figure"><img src="{% static 'images/download-1-160x160-88.png'%}" class="mbr-figure__img"></figure>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6">
                        <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">
                            <figure class="mbr-figure"><img src="{% static 'images/carroya-160x160-98.png'%}" class="mbr-figure__img"></figure>
                        </div>
                    </div>
                    <div class="clearfix visible-md-block"></div>
                    <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6 col-lg-offset-0 col-md-offset-2">
                        <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">
                            <figure class="mbr-figure"><img src="{% static 'images/download-270x187-8.png'%}" class="mbr-figure__img"></figure>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3">
                        <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">
                            <figure class="mbr-figure"><img src="{% static 'images/olx-160x160-32.jpg'%}" class="mbr-figure__img"></figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mbr-section" id="header3-4">
            <div class="mbr-section__container container">
                <div class="mbr-header mbr-header--wysiwyg row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3 class="mbr-header__text">¿CÓMO FUNCIONA?</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="mbr-section mbr-section--relative" id="msg-box5-3" style="background-color: rgb(255, 255, 255);">
            <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 93px; padding-bottom: 93px;">
                <div class="row">
                    <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                        <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-6">
                            <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><img src="assets/images/widget-car3-grande-700x575-45.png" class="mbr-figure__img" alt="EXTENSION K. La forma mas efectiva para comprar vehiculo" title="EXTENSION K. La forma mas efectiva para comprar vehiculo"></figure>
                        </div>
                        <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 mbr-section__right">
                            <div class="mbr-section__container mbr-section__container--middle">
                                <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                                    <h1 class="big-number">1.</h1>
                                    <h3 class="mbr-header__text"> INSTALA CON DOS CLICKS LA EXTENSION MAGICA K DE ADIKTIVO (Solo para Chrome)</h3>
                                </div>
                            </div>
                            <div class="mbr-section__container mbr-section__container--middle">
                                <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg">
                                    <p class="black">Una vez instalada la extensión, encontraras un icono en la esquina superior derecha de tu navegador.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mbr-section mbr-section--relative" id="msg-box5-5" style="background-color: rgb(255, 255, 255);">
            <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 93px; padding-bottom: 93px;">
                <div class="row">
                    <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                        <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 mbr-section__left">
                            <div class="mbr-section__container mbr-section__container--middle">
                                <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                                    <h1 class="big-number">2.</h1>
                                    <h3 class="mbr-header__text">CUENTANOS QUE CARRO BUSCAS</h3>
                                </div>
                            </div>
                            <div class="mbr-section__container mbr-section__container--middle">
                                <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg">
                                    <p class="black">Especifica tus preferencias:<br>Marca, modelo, presupuesto y hasta color ;)</p>
                                </div>
                            </div>
                        </div>
                        <div class="mbr-box__magnet mbr-box__magnet--top-left mbr-section__right col-sm-6">
                            <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><img src="assets/images/navegadondequieras2.gif" class="mbr-figure__img"></figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mbr-section mbr-section--relative" id="msg-box5-6" style="background-color: rgb(255, 255, 255);">
            <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 93px; padding-bottom: 93px;">
                <div class="row">
                    <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                        <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-6">
                            <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><img src="assets/images/notificaciones6.gif" class="mbr-figure__img"></figure>
                        </div>
                        <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 mbr-section__right">
                            <div class="mbr-section__container mbr-section__container--middle">
                                <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                                    <h1 class="big-number">3.</h1>
                                    <h3 class="mbr-header__text">¡SORPRENDETE! SE EL PRIMERO EN SABER CUANDO PUBLICAN EL CARRO QUE QUIERES TENER. Sin Buscar ;)</h3>
                                </div>
                            </div>
                            <div class="mbr-section__container mbr-section__container--middle">
                                <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg">
                                    <p class="black">Recibe notificaciones de los carros acorde a tus preferencias que suban a cualquiera plataforma de clasificados de vehículos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background" id="testimonials1-9" style="background-image: url({% static 'images/testimonials-1200x504-21.jpg' %});">
            <div>
                <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);"></div>
                <div class="mbr-section__container mbr-section__container--std-padding container" style="padding-top: 93px; padding-bottom: 93px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="mbr-section__header">EN ESTE MOMENTO ESTAN PUBLICANDO VEHICULOS QUE TE PODRIAN INTERESAR</h2>
                            <ul class="mbr-reviews mbr-reviews--wysiwyg row">
                                <li class="mbr-reviews__item col-sm-6 col-md-6">
                                    <div class="mbr-reviews__text">
                                        <p class="mbr-reviews__p">He recomendado a varios amigos que están buscando carro que lo hagan mediante ADIKTIVO, y siempre les ha gustado el servicio. </p>
                                        <p class="mbr-reviews__p"></p>
                                    </div>
                                    <div class="mbr-reviews__author mbr-reviews__author--short">
                                        <div class="mbr-reviews__author-name">DIANA MEDINA.</div>
                                        <div class="mbr-reviews__author-bio">Usuario</div>
                                    </div>
                                </li>
                                <li class="mbr-reviews__item col-sm-6 col-md-6">
                                    <div class="mbr-reviews__text">
                                        <p class="mbr-reviews__p">“Antes de usar la Extensión K, perdí muchas oportunidades de comprar un buen carro porque cuando veia el anuncio y contactaba al vendedor, lo habia acabado de vender, - Las buenas ofertas vuelan. Con la Extensión K fuí el primero en enterarme y asi compré mi carro con el cual estoy muy contento.”</p>
                                    </div>
                                    <div class="mbr-reviews__author mbr-reviews__author--short">
                                        <div class="mbr-reviews__author-name">ANDRES BUITRAGO.</div>
                                        <div class="mbr-reviews__author-bio">Usuario</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="content4-10" style="background-color: rgb(239, 239, 239);">
            <div class="mbr-section__container mbr-section__container--std-top-padding mbr-section__container--sm-bot-padding mbr-section-title container" style="padding-top: 93px;">
                <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3 class="mbr-header__text">¡NUNCA MÁS!</h3>
                    </div>
                </div>
            </div>
            <div class="mbr-section__container container">
                <div class="mbr-section__row row">
                    <div class="mbr-section__col col-xs-12 col-sm-4 col-sm-offset-2">
                        <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                            <figure class="mbr-figure"><img src="assets/images/checked-car-128x128-88.png" class="mbr-figure__img"></figure>
                        </div>
                        <div class="mbr-section__container mbr-section__container--middle">
                            <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                <h3 class="mbr-header__text">¡NUNCA MÁS!<br>PIERDAS OPORTUNIDADES</h3>
                            </div>
                        </div>
                        <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                            <div class="mbr-article mbr-article--wysiwyg">
                                <p>Seras el primero en ver el carro que estas buscando, antes que otro lo compre.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-section__col col-xs-12 col-sm-4">
                        <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                            <figure class="mbr-figure"><img src="assets/images/time-saving-128x128-74.png" class="mbr-figure__img"></figure>
                        </div>
                        <div class="mbr-section__container mbr-section__container--middle">
                            <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                <h3 class="mbr-header__text">¡NUNCA MÁS!<br>PIERDAS TIEMPO</h3>
                            </div>
                        </div>
                        <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                            <div class="mbr-article mbr-article--wysiwyg">
                                <p></p>
                                <p>Ya no es necesario que pierdas tiempo revisando cada día en diferentes sitios clasificados si hay una buena oferta.</p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="header4-11" style="background-image: url(assets/images/einladungskarte-1920x1080-52.jpg);">
            <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
                <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);"></div>
                <div class="mbr-box__container mbr-section__container container">
                    <div class="mbr-box mbr-box--stretched">
                        <div class="mbr-box__magnet mbr-box__magnet--center-left">
                            <div class="row">
                                <div class=" col-sm-8 col-sm-offset-2">
                                    <div class="mbr-hero animated fadeInUp">
                                        <h1 class="mbr-hero__text">+ 1000 Carros publicados cada día, ¿Cómo encontraras el mejor para ti?</h1>
                                        <p class="mbr-hero__subtext"></p>
                                    </div>
                                    <div class="mbr-buttons btn-inverse mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-danger animated fadeInUp delay" href="#" data-toggle="modal" data-target="#exampleModal">CONSIGUELO AHORA, GRATIS</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}